@page
@model IndexModel
@{
    
}

    <div style="float:left">
        <img src="~/css/preloader.gif" /><br /><br /><br /><br />
        <button id="btnInit" class="btn-dark">Init</button>
    </div>

    <div class="text-center">

        <canvas id="radar1" width="800" height="800"
                style="border:1px solid #d3d3d3;">
            Radar canvas
        </canvas>
    </div>

    <div class="border-top">

        LOG
        <br />

        <div id="logs" >

            
        </div>

    </div>
